body {
    color: blueviolet;
    background-color: rgb(247, 247, 247);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  
.topimage {
    max-width: 100%;
    grid-column: 1 / 5;
    grid-row: 1 /  1;
}

h1 {
    text-align: center;
  }

nav {
    background-color: rgb(247, 247, 247);
    padding: .5em;
    position: sticky;
    top: 0px;
    left: 0px;
  }

  nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .5em 1em;
  }

  main {
    margin: 0 auto;
    padding: 50px 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 125%;
     }


  figure {
    border: 1px solid gray;
    padding: 5px;
    width: 350px;
    font-size: 75%;
    background-color: rgb(255, 255, 255);
  }

  figure img {
    width: 350px;
  }

  .bimac {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
  }

  .mellifera {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
  }

  .small {
    font-size: 75%;
  }


